* {
    margin: 0;
    padding: 0;
}
#main{
    margin-left: auto;
    margin-right: auto;
    width: 32em;
    height: 36em;
}

#winX {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 10em;
    float: right;
}

#winO {
    width: 10em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    float: left;
}

#btn{
    width: 10em;
}

#square {
    margin-top: 2em;
    margin-left: 2em;
    width: 32em;
    height: 32em;
    margin-left: auto;
    margin-right: auto;
}

#zero, #one, #two, #three, #four, #five, #six, #seven, #eight {
    width: 10em;
    height: 10em;
    display: inline-block;
}

#zero {
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

#one {
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

#two {
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}

#three {
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

#four {
    border: 2px solid black;
}

#five {
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}

#six {
    border-top: 2px solid black;
    border-right: 2px solid black;
}

#seven {
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-right: 2px solid black;
}

#eight {
    border-left: 2px solid black;
    border-top: 2px solid black;
}

/* #zero, #three{
    border-bottom-width: 2px;
    border-bottom-style: groove;
    border-bottom-color: black;
    border-right-width: 2px;
    border-right-style: groove;
    border-right-color: black;
    /* border-top-width: 0px;
    border-left-width: 0px;
    margin: 0px; */

/* } */

/* #three{
    margin-bottom: -0.05%;
}

#one, #four{
    border-bottom-width: 2px;
    border-bottom-style: groove;
    border-bottom-color: rgb(5, 3, 3);
    margin-left: -0.5%;
    margin-bottom: -0.05%;
}
#two, #five{
    border-bottom-width: 2px;
    border-bottom-style: groove;
    border-bottom-color: black;
    border-left-width: 2px;
    border-left-style: groove;
    border-left-color: black;
    margin-left: -0.55%;
}

#seven{
    border-left-width: 2px;
    border-left-style: groove;
    border-left-color: black;
    border-right-width: 2px;
    border-right-style: groove;
    border-right-color: black;
    margin-left: -0.55%;
} */