* {
    margin: 0;
    padding: 0;
   }

#square{
    width: 43em;
    height: 43em;
    /* border-style: solid; */
    margin-left: auto;
    margin-right: auto;
    /* display: block; */
}
#zero, #one, #two, #three, #four, #five, #six, #seven, #eight{
    width: 14em;
    height: 14em;
    display: inline-block;

}

#zero, #three{
    border-bottom-width: 2px;
    border-bottom-style: groove;
    border-bottom-color: black;
    border-right-width: 2px;
    border-right-style: groove;
    border-right-color: black;
    border-top-width: 0px;
    border-left-width: 0px;
    margin: 0px;
}

#three{
    margin-bottom: -0.05%;
}

#one, #four{
    border-bottom-width: 2px;
    border-bottom-style: groove;
    border-bottom-color: rgb(5, 3, 3);
    margin-left: -0.5%;
    margin-bottom: -0.05%;
}
#two, #five{
    border-bottom-width: 2px;
    border-bottom-style: groove;
    border-bottom-color: black;
    border-left-width: 2px;
    border-left-style: groove;
    border-left-color: black;
    margin-left: -0.55%;
}

#seven{
    border-left-width: 2px;
    border-left-style: groove;
    border-left-color: black;
    border-right-width: 2px;
    border-right-style: groove;
    border-right-color: black;
    margin-left: -0.55%;
}

.win{
    border-style: dashed;
    border-color: red;
}
